body{
    background-color:rgb(154, 255, 221);
}

h1{
    background-color: rgb(212, 255, 242);
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    text-transform: uppercase;
    display: inline-block;
}
